<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up | Grocery Mart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/Assets/Toast_Message/toastmesscss.css}">
    <link rel="stylesheet" th:href="@{/Assets/Form_Validator/validatorcss.css}" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/Assets/Customer_Shop/Assets/favicon/apple-touch-icon.png}" />
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/Assets/Customer_Shop/Assets/favicon/favicon-32x32.png}" />
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/Assets/Customer_Shop/Assets/favicon/favicon-16x16.png}" />
    <link rel="manifest" th:href="@{/Assets/Customer_Shop/Assets/favicon/site.webmanifest}" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Fonts -->
    <link rel="stylesheet" th:href="@{/Assets/Customer_Shop/Assets/fonts/stylesheet.css}" />

    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/Assets/Customer_Shop/Assets/css/main.css}" />

    <!-- Scripts -->
    <script th:src="@{/Assets/Customer_Shop/Assets/js/scripts.js}" ></script>
    <script th:src="@{/Assets/Toast_Message/toastmessjs.js}"></script>

</head>
<body>
<div id="toast"></div>
<main class="auth">

    <!-- Auth intro -->
    <div class="auth__intro">
        <a href="./" class="logo auth__intro-logo d-none d-md-flex">
            <img th:src="@{/Assets/Customer_Shop/Assets/icons/logo.svg}" alt="grocerymart" class="logo__img" />
            <h1 class="logo__title">grocerymart</h1>
        </a>
        <img th:src="@{/Assets/Customer_Shop/Assets/img/auth/intro.svg}" alt="" class="auth__intro-img" />
        <p class="auth__intro-text">
            The best of luxury brand values, high quality products, and innovative services
        </p>
        <button class="auth__intro-next d-none d-md-flex js-toggle" toggle-target="#auth-content">
            <img th:src="@{/Assets/Customer_Shop/Assets/img/auth/intro-arrow.svg}" alt="" />
        </button>
    </div>

    <!-- Auth content -->
    <div id="auth-content" class="auth__content hide">
        <div class="auth__content-inner">
            <a href="./" class="logo">
                <img th:src="@{/Assets/Customer_Shop/Assets/icons/logo.svg}" alt="grocerymart" class="logo__img" />
                <h1 class="logo__title">grocerymart</h1>
            </a>
            <h1 class="auth__heading">Sign Up</h1>
            <p class="auth__desc">Let’s create your account and Shop like a pro and save money.</p>
            <form th:action="@{/sign-up}" th:object="${accountDTO}" method="post" class="form auth__form" id="form-signup">
                <div class="form__group">
                    <div class="form__text-input">
                        <input
                                th:field="*{email}"
                                type="email"
                                id="email"
                                placeholder="Email"
                                class="form__input"
                                rule = "required|email"
                        />
                        <img th:src="@{/Assets/Customer_Shop/Assets/icons/message.svg}" alt="" class="form__input-icon" />
                        <img th:src="@{/Assets/Customer_Shop/Assets/icons/form-error.svg}" alt="" class="form__input-icon-error" />
                    </div>
                    <p class="form-message"></p>
                </div>
                <div class="form__group">
                    <div class="form__text-input">
                        <input
                                type="password"
                                name="password"
                                id="password"
                                placeholder="Password"
                                class="form__input"
                                rule = "required|min:8"
                        />
                        <img th:src="@{/Assets/Customer_Shop/Assets/icons/lock.svg}" alt="" class="form__input-icon" />
                        <img th:src="@{/Assets/Customer_Shop/Assets/icons/form-error.svg}" alt="" class="form__input-icon-error" />
                    </div>
                    <p class="form-message"></p>
                </div>
                <div class="form__group">
                    <div class="form__text-input">
                        <input
                                type="password"
                                name="repeatpassword"
                                id="repeatpassword"
                                placeholder="Confirm password"
                                class="form__input"
                                rule = "required|repeatpassword"
                        />
                        <img th:src="@{/Assets/Customer_Shop/Assets/icons/lock.svg}" alt="" class="form__input-icon" />
                        <img th:src="@{/Assets/Customer_Shop/Assets/icons/form-error.svg}" alt="" class="form__input-icon-error" />
                    </div>
                    <p class="form-message"></p>
                </div>
                <div class="form__group form__group--inline">
                    <label class="form__checkbox">
                        <input type="checkbox" name="" id="" class="form__checkbox-input d-none" />
                        <span class="form__checkbox-label">Set as default card</span>
                    </label>
                </div>
                <div class="form__group auth__btn-group">
                    <button type="submit" class="btn btn--primary auth__btn form__submit-btn">Sign Up</button>
                    <button class="btn btn--outline auth__btn btn--no-margin">
                        <img th:src="@{/Assets/Customer_Shop/Assets/icons/google.svg}" alt="" class="btn__icon icon" />
                        Sign in with Google
                    </button>
                </div>
            </form>

            <p class="auth__text">
                You have an account yet?
                <a href="./sign-in.html" class="auth__link auth__text-link">Sign In</a>
            </p>
        </div>
    </div>
</main>

<script>
    window.dispatchEvent(new Event("template-loaded"));
</script>

<script th:src="@{/Assets/Form_Validator/validatorjs.js}"></script>
<script>
    Validator('#form-signup');
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    const message = /*[[${message}]]*/ 'default';
    /*]]>*/
    if (message)
    {
        console.log(message);
        showErrorToast(message);
    }
</script>
</body>
</html>
