<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/Common/Admin/LayoutMaster.html}">
<head>
  <meta charset="UTF-8">
  <title>ADMIN SHOP</title>
  <link rel="stylesheet" th:href="@{/Assets/Admin_Employee/Assets/css/vertical-layout-light/employeeInfocss.css}" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <style>
    .flatpickr-current-month .flatpickr-monthDropdown-months {
      padding: 0 !important;
    }
    #dateIcon {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      font-size: 20px;
      color: rgba(0, 0, 0, .8);
      z-index: 1;
    }
    .input-error {
      border: 2px solid red;
    }
    .error-message {
      color: red;
      font-size: 15px;
      font-weight: 600;
      margin-top: 5px;
      margin-left: 10px;
    }
  </style>
</head>
<body>
<div class="container" layout:fragment="content">
  <div class="content">
    <div class="info-setting" style="padding: 40px">
      <p class="title">Chỉnh sửa thông tin cá nhân khách hàng</p>
      <form th:action="@{/admin/manage-customer/edit}" th:object="${accountDTO}" method="post" enctype="multipart/form-data">
        <div class="form-container">
          <div class="form__group">
            <label for="">Email</label>
            <div class="text-input">
              <input type="text" class="input-setting" readonly th:field="*{email}">
            </div>
          </div>
          <div class="form__group">
            <label for="">Password</label>
            <div class="text-input">
              <input type="password" class="input-setting" th:field="*{password}">
            </div>
          </div>
          <div class="form__group">
            <label for="">Trạng thái tài khoản</label>
            <div class="text-input">
              <select class="input-setting" th:field="*{is_disable}">
                <option value="1" th:selected="*{is_disable}">Đã kích hoạt</option>
                <option value="0" th:selected="*{is_disable}">Chưa kích hoạt</option>
              </select>
            </div>
          </div>
          <div class="form__group">
            <label for="">Tên</label>
            <div class="text-input">
              <input type="text" th:field="*{userInfo.name}"  th:class="${#fields.hasErrors('userInfo.name') ? 'input-setting input-error' : 'input-setting'}">
              <p class="error-message" th:if="${#fields.hasErrors('userInfo.name')}" th:errors="*{userInfo.name}"></p>
            </div>
          </div>
          <div class="form__group">
            <label for="">Giới tính</label>
            <div class="text-input">
              <select class="input-setting" th:field="*{userInfo.gender}">
                <option value="Nam" th:selected="*{userInfo.gender == 'Nam'}">Nam</option>
                <option value="Nữ" th:selected="*{userInfo.gender == 'Nữ'}">Nữ</option>
                <option value="Khác" th:selected="*{userInfo.gender == 'Khác'}">Khác</option>
              </select>
            </div>
          </div>
          <div class="form__group">
            <label for="">Số điện thoại</label>
            <div class="text-input">
              <input type="text" th:field="*{userInfo.phone}" th:class="${#fields.hasErrors('userInfo.phone') ? 'input-setting input-error' : 'input-setting'}">
              <p class="error-message" th:if="${#fields.hasErrors('userInfo.phone')}" th:errors="*{userInfo.phone}"></p>
            </div>
          </div>
          <div class="form__group">
            <label for="">Địa chỉ</label>
            <div class="text-input">
              <input type="text" th:field="*{userInfo.address}"  th:class="${#fields.hasErrors('userInfo.address') ? 'input-setting input-error' : 'input-setting'}">
              <p class="error-message" th:if="${#fields.hasErrors('userInfo.address')}" th:errors="*{userInfo.address}"></p>
            </div>
          </div>
          <div class="form__group">
            <label for="">Ngày sinh</label>
            <div class="text-input date-input">
              <i class="fa-regular fa-calendar-days calendar-icon" id="dateIcon"></i>
              <input id="dateInput" type="text" th:field="*{userInfo.birth}"  th:class="${#fields.hasErrors('userInfo.birth') ? 'input-setting input-error' : 'input-setting'}">
            </div>
            <p class="error-message" th:if="${#fields.hasErrors('userInfo.birth')}" th:errors="*{userInfo.birth}"></p>
          </div>
          <div class="form__group">
            <label for="">Trạng thái khách hàng</label>
            <div class="text-input">
              <input type="text" th:field="*{userInfo.status}"  th:class="${#fields.hasErrors('userInfo.status') ? 'input-setting input-error' : 'input-setting'}">
              <p class="error-message" th:if="${#fields.hasErrors('userInfo.status')}" th:errors="*{userInfo.status}"></p>
            </div>
          </div>
          <div class="form__group">
            <label for="" >Ảnh đại diện</label>
            <div class="text-input">
              <input type="file" id="avatar-upload" name="avatar" placeholder="" class="input-setting">
              <label class="custom-file-label" for="avatar-upload">Chọn ảnh</label>
              <span id="file-name">Chưa có file nào được chọn</span>
            </div>
          </div>
          <div class="button-container">
            <button type="submit" class="btn btn-success btn-rounded btn-fw">Lưu</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div layout:fragment="script">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
  <script src="https://npmcdn.com/flatpickr/dist/l10n/vn.js"></script>
  <script>
    document.getElementById("avatar-upload").addEventListener("change", function() {
      const fileName = this.files.length > 0 ? this.files[0].name : "Chưa có file nào được chọn";
      document.getElementById("file-name").textContent = fileName;
    });
  </script>
  <script>
    const datePicker = flatpickr("#dateInput", {
      dateFormat: "d-m-Y",
      locale: "vn",
      onChange: function(selectedDates, dateStr, instance) {
        document.getElementById('dateInput').value = dateStr;
      }
    });

    const dateIcon = document.querySelector('#dateIcon');
    dateIcon.addEventListener('click', function (){
      datePicker.open();
    });

  </script>
</div>
</body>
</html>
