<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/Common/Admin/LayoutMaster.html}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>
        #performanceLine {
            min-height: 300px; /* Chiều cao tối thiểu cho biểu đồ */

        }
    </style>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="content" >
        <div class="d-sm-flex align-items-center justify-content-end border-bottom">
            <div>
                <div class="btn-wrapper">
                    <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
                    <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                    <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                </div>
            </div>
        </div>
            <div class="chartjs-wrapper mt-5">
                <canvas id="performanceLine"></canvas>
            </div>
    </div>
</div>

<div layout:fragment="script">
    <script th:src="@{/Assets/Admin_Employee/Assets/vendors/chart.js/Chart.min.js}"></script>
    <script th:src="@{/Assets/Admin_Employee/Assets/js/dashboardchart.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        const chartData = /*[[${chartData}]]*/ 'default';
        /*]]>*/
        console.log(chartData);
        renderLineChart("performanceLine", chartData);
    </script>

</div>
</body>
</html>
