<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/Common/Employee/LayoutMaster.html}">
<head>
    <meta charset="UTF-8">
    <title>Employee Info</title>
    <!-- Fonts -->

    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/Assets/Toast_Message/toastmesscss.css}">
</head>
<script th:src="@{/Assets/Toast_Message/toastmessjs.js}"></script>
<body>
<div class="container" layout:fragment="content">
    <div class="content" >
        <div class="d-sm-flex align-items-center justify-content-start border-bottom">

        </div>
    </div>
</div>
</body>
</html>
