<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/Assets/Page-not-found/404css.css}">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Trang bạn yêu cầu hiện không tìm thấy</h1>
      <section class="error-container">
        <span class="four"><span class="screen-reader-text">4</span></span>
        <span class="zero"><span class="screen-reader-text">0</span></span>
        <span class="four"><span class="screen-reader-text">4</span></span>
      </section>
      <div class="link-container">
        <a th:href="@{/welcome}" class="more-link">Trở về trang chủ</a>
      </div>
    </div>

  </body>
</html>