<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>primesports</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/Assets/Customer_Shop/Assets/favicon/logo.png}" />
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/Assets/Customer_Shop/Assets/favicon/logo.png}" />
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/Assets/Customer_Shop/Assets/favicon/logo.png}" />
    <link rel="manifest" th:href="@{/Assets/Customer_Shop/Assets/favicon/logo.png}" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Fonts -->
    <link rel="stylesheet" th:href="@{/Assets/Customer_Shop/Assets/fonts/stylesheet.css}" />

    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/Assets/Customer_Shop/Assets/css/main.css}" />


    <!-- Scripts -->
    <script th:src="@{/Assets/Customer_Shop/Assets/js/scripts.js}" ></script>
</head>
<style>
    .see-more{
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .see-more a {
        padding: 20px;
       font-size: 1.2em;
    }

    .see-more a img {
        transform: rotate(180deg);
    }

</style>
<body>
<!-- Header -->
<header id="header" class="header"></header>
<div></div>
<script>
    load("#header", "/header");
</script>


<!-- MAIN -->
<main class="container home">
    <!-- Slideshow -->
    <div class="home__container">
        <div class="slideshow">
            <div class="slideshow__inner">
                <div class="slideshow__item">
                    <a href="#!" class="slideshow__link">
                        <picture>
                            <source
                                    media="(max-width: 767.98px)"
                                    th:src="@{/Assets/Customer_Shop/Assets/img/slideshow/BackGround.png}"
                            />
                            <img th:src="@{/Assets/Customer_Shop/Assets/img/slideshow/BackGround.png}" alt="" class="slideshow__img" />
                        </picture>
                    </a>
                </div>
            </div>

            <div class="slideshow__page">
                <span class="slideshow__num">1</span>
                <span class="slideshow__slider"></span>
                <span class="slideshow__num">5</span>
            </div>
        </div>
    </div>

    <!-- Browse Categories -->
    <section class="home__container">
        <div class="home__row">
            <h2 class="home__heading">Đội bóng yêu thích</h2>
        </div>
        <div class="home__cate row row-cols-5 row-cols-md-1">
            <!-- Category item 1 -->
            <div class="col">
                <a href="#!">
                    <article class="favourite-clubs">
                        <img th:src="@{/Assets/Customer_Shop/Assets/img/category-item/item-1.png}" alt="" class="favourite__club__thumb" />
                    </article>
                </a>
            </div>

            <!-- Category item 2 -->
            <div class="col">
                <a href="#!">
                    <article class="favourite-clubs">
                        <img th:src="@{/Assets/Customer_Shop/Assets/img/category-item/item-2.png}" alt="" class="favourite__club__thumb" />
                    </article>
                </a>
            </div>

            <!-- Category item 3 -->
            <div class="col">
                <a href="#!">
                    <article class="favourite-clubs">
                        <img th:src="@{/Assets/Customer_Shop/Assets/img/category-item/item-3.png}" alt="" class="favourite__club__thumb" />
                    </article>
                </a>
            </div>

            <!-- Category item 4 -->
            <div class="col">
                <a href="#!">
                    <article class="favourite-clubs">
                        <img th:src="@{/Assets/Customer_Shop/Assets/img/category-item/item-4.png}" alt="" class="favourite__club__thumb" />
                    </article>
                </a>
            </div>

            <!-- Category item 5 -->
            <div class="col">
                <a href="#!">
                    <article class="favourite-clubs">
                        <img th:src="@{/Assets/Customer_Shop/Assets/img/category-item/item-5.png}" alt="" class="favourite__club__thumb" />

                    </article>
                </a>
            </div>


        </div>
    </section>

    <!-- Browse Products -->
    <section class="home__container">
        <div class="home__row">
            <h2 class="home__heading">Quần áo bóng đá</h2>
<!--            <div class="filter-wrap">-->
<!--                <button class="filter-btn js-toggle" toggle-target="#home-filter">-->
<!--                    Filter-->
<!--                    <img th:src="@{/Assets/Customer_Shop/Assets/icons/filter.svg}" alt="" class="filter-btn__icon icon" />-->
<!--                </button>-->

<!--                <div id="home-filter" class="filter hide">-->
<!--                    <img th:src="@{/Assets/Customer_Shop/Assets/icons/arrow-up.png}" alt="" class="filter__arrow" />-->
<!--                    <h3 class="filter__heading">Filter</h3>-->
<!--                    <form action="" class="filter__form form">-->
<!--                        <div class="filter__row filter__content">-->
<!--                            &lt;!&ndash; Filter column 1 &ndash;&gt;-->
<!--                            <div class="filter__col">-->
<!--                                <label for="" class="form__label">Price</label>-->
<!--                                <div class="filter__form-group">-->
<!--                                    <div-->
<!--                                            class="filter__form-slider"-->
<!--                                            style="&#45;&#45;min-value: 10%; &#45;&#45;max-value: 60%"-->
<!--                                    ></div>-->
<!--                                </div>-->
<!--                                <div class="filter__form-group filter__form-group&#45;&#45;inline">-->
<!--                                    <div>-->
<!--                                        <label for="" class="form__label form__label&#45;&#45;small"> Minimum </label>-->
<!--                                        <div class="filter__form-text-input filter__form-text-input&#45;&#45;small">-->
<!--                                            <input-->
<!--                                                    type="text"-->
<!--                                                    name=""-->
<!--                                                    id=""-->
<!--                                                    class="filter__form-input"-->
<!--                                                    value="$30.00"-->
<!--                                            />-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div>-->
<!--                                        <label for="" class="form__label form__label&#45;&#45;small"> Maximum </label>-->
<!--                                        <div class="filter__form-text-input filter__form-text-input&#45;&#45;small">-->
<!--                                            <input-->
<!--                                                    type="text"-->
<!--                                                    name=""-->
<!--                                                    id=""-->
<!--                                                    class="filter__form-input"-->
<!--                                                    value="$100.00"-->
<!--                                            />-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="filter__separate"></div>-->

<!--                            &lt;!&ndash; Filter column 2 &ndash;&gt;-->
<!--                            <div class="filter__col">-->
<!--                                <label for="" class="form__label">Size/Weight</label>-->
<!--                                <div class="filter__form-group">-->
<!--                                    <div class="form__select-wrap">-->
<!--                                        <div class="form__select" style="&#45;&#45;width: 158px">-->
<!--                                            500g-->
<!--                                            <img-->
<!--                                                    th:src="@{/Assets/Customer_Shop/Assets/icons/select-arrow.svg}"-->
<!--                                                    alt=""-->
<!--                                                    class="form__select-arrow icon"-->
<!--                                            />-->
<!--                                        </div>-->
<!--                                        <div class="form__select">-->
<!--                                            Gram-->
<!--                                            <img-->
<!--                                                    th:src="@{/Assets/Customer_Shop/Assets/icons/select-arrow.svg}"-->
<!--                                                    alt=""-->
<!--                                                    class="form__select-arrow icon"-->
<!--                                            />-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="filter__form-group">-->
<!--                                    <div class="form__tags">-->
<!--                                        <button class="form__tag">Small</button>-->
<!--                                        <button class="form__tag">Medium</button>-->
<!--                                        <button class="form__tag">Large</button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="filter__separate"></div>-->

<!--                            &lt;!&ndash; Filter column 3 &ndash;&gt;-->
<!--                            <div class="filter__col">-->
<!--                                <label for="" class="form__label">Brand</label>-->
<!--                                <div class="filter__form-group">-->
<!--                                    <div class="filter__form-text-input">-->
<!--                                        <input-->
<!--                                                type="text"-->
<!--                                                name=""-->
<!--                                                id=""-->
<!--                                                placeholder="Search brand name"-->
<!--                                                class="filter__form-input"-->
<!--                                        />-->
<!--                                        <img-->
<!--                                                th:src="@{/Assets/Customer_Shop/Assets/icons/search.svg}"-->
<!--                                                alt=""-->
<!--                                                class="filter__form-input-icon icon"-->
<!--                                        />-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="filter__form-group">-->
<!--                                    <div class="form__tags">-->
<!--                                        <button class="form__tag">Lavazza</button>-->
<!--                                        <button class="form__tag">Nescafe</button>-->
<!--                                        <button class="form__tag">Starbucks</button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="filter__row filter__footer">-->
<!--                            <button class="btn btn&#45;&#45;text filter__cancel js-toggle" toggle-target="#home-filter">-->
<!--                                Cancel-->
<!--                            </button>-->
<!--                            <button-->
<!--                                    class="btn btn&#45;&#45;primary filter__submit js-toggle"-->
<!--                                    toggle-target="#home-filter">-->
<!--                                Show Result-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
            </div>
        </div>

        <div class="row row-cols-5 row-cols-lg-2 row-cols-sm-1 g-3">
            <!-- Product card 1 -->
            <div class="col" th:each="product : ${listPro}">
                <article class="product-card">
                    <div class="product-card__img-wrap">
                        <a th:href="@{/product-detail/{id}(id=${product.product_id})}">
                            <img th:src="@{/Assets/Customer_Shop/Assets/img/product/item-1.png}" alt="" class="product-card__thumb" />
                        </a>
                        <button class="like-btn product-card__like-btn">
                            <img th:src="@{/Assets/Customer_Shop/Assets/icons/heart.svg}" alt="" class="like-btn__icon icon" />
                            <img th:src="@{/Assets/Customer_Shop/Assets/icons/heart-red.svg}" alt="" class="like-btn__icon--liked" />
                        </button>
                    </div>
                    <h3 class="product-card__title">
                        <a th:href="@{/product-detail/{id}(id=${product.product_id})}" th:text="${product.name}"></a>
                    </h3>
<!--                    <p class="product-card__brand">Lavazza</p>-->
                    <div class="product-card__row">
                        <span class="product-card__price" th:text="${product.price}"></span>
                        <img th:src="@{/Assets/Customer_Shop/Assets/icons/star.svg}" alt="" class="product-card__star" />
                        <span class="product-card__score" th:text="${product.rating}"></span>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <div class="see-more">
        <a class="btn btn--primary filter__submit" th:href="@{/all-product}">
            Xem thêm
            <img th:src="@{/Assets/Customer_Shop/Assets/icons/arrow-left.svg}" alt="" class="filter-btn__icon icon" />
        </a>
    </div>
</main>

<!-- Footer -->
<footer id="footer" class="footer"></footer>
<script>
    load("#footer", "/footer");
</script>
</body>
</html>
