<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile | Personal</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/Assets/Customer_Shop/Assets/favicon/apple-touch-icon.png}" />
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/Assets/Customer_Shop/Assets/favicon/favicon-32x32.png}" />
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/Assets/Customer_Shop/Assets/favicon/favicon-16x16.png}" />
    <link rel="manifest" th:href="@{/Assets/Customer_Shop/Assets/favicon/site.webmanifest}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Fonts -->
    <link rel="stylesheet" th:href="@{/Assets/Customer_Shop/Assets/fonts/stylesheet.css}" />

    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/Assets/Customer_Shop/Assets/css/main.css}" />

    <!-- Scripts -->
    <script th:src="@{/Assets/Customer_Shop/Assets/js/scripts.js}"></script>
    <style>
        .profile-user__avatar-label {
            cursor: pointer;
        }
        .profile-user__avatar:hover {
            opacity: 0.8;
        }
        .cart-info__heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .cart-info__back-arrow {
            margin-right: 10px; /* Khoảng cách giữa icon và text */
        }

        .cart-info__card-id {
            font-size: 14px; /* Tùy chỉnh kích thước text */
            color: #555; /* Màu sắc */
            margin-left: auto; /* Đẩy sang phải */
        }

    </style>

</head>
<body>


<!-- MAIN -->
<main class="profile">
    <div class="container">
        <!-- Search bar -->
        <div class="profile-container">
            <div class="search-bar d-none d-md-flex">
            </div>
        </div>

        <!-- Profile content -->
        <div class="profile-container">
            <div class="row gy-md-3">
                <div class="col-3 col-xl-4 d-lg-none">
                    <aside class="profile__sidebar">
                        <!-- User -->
                        <div class="profile-user">
                            <label for="avatar-upload" class="profile-user__avatar-label">
                                <img th:src="@{/Assets/Customer_Shop/Assets/img/avatar/blank-avatar.png}" alt="Profile Avatar" class="profile-user__avatar" />

                            </label>
                            <input type="file" id="avatar-upload" class="profile-user__avatar-input" accept="image/*" style="display: none;" />
                            <h1 class="profile-user__name" th:text="${userDTO.name}"></h1>
                            <!-- <p class="profile-user__desc">Registered: 17th May 2022</p>-->
                        </div>
                        <!-- Menu 1 -->
                        <div class="profile-menu">
                            <h3 class="profile-menu__title">Quản lý tài khoản</h3>
                            <ul class="profile-menu__list">
                                <li>
                                    <a th:href="@{/customer}" class="profile-menu__link">
                                                <span class="profile-menu__icon">
                                                    <img src="./assets/icons/profile.svg" alt="" class="icon" />
                                                </span>
                                        Thông tin cá nhân
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/customer/change-password-form}" class="profile-menu__link">
                                                <span class="profile-menu__icon">
                                                    <img src="./assets/icons/message-2.svg" alt="" class="icon" />
                                                </span>
                                        Quyền riêng tư
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Menu 2 -->
                        <div class="profile-menu">
                            <h3 class="profile-menu__title">My items</h3>
                            <ul class="profile-menu__list">
                                <li>
                                    <a href="#!" class="profile-menu__link">
                                                <span class="profile-menu__icon">
                                                    <img src="./assets/icons/download.svg" alt="" class="icon" />
                                                </span>
                                        Reorder
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="profile-menu__link">
                                                <span class="profile-menu__icon">
                                                    <img src="./assets/icons/heart.svg" alt="" class="icon" />
                                                </span>
                                        Lists
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="profile-menu__link">
                                                <span class="profile-menu__icon">
                                                    <img src="./assets/icons/gift-2.svg" alt="" class="icon" />
                                                </span>
                                        Registries
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Menu 3 -->
                        <div class="profile-menu">
                            <h3 class="profile-menu__title">Subscriptions & plans</h3>
                            <ul class="profile-menu__list">
                                <li>
                                    <a href="#!" class="profile-menu__link">
                                                <span class="profile-menu__icon">
                                                    <img src="./assets/icons/shield.svg" alt="" class="icon" />
                                                </span>
                                        Protection plans
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Menu 4 -->
                        <div class="profile-menu">
                            <h3 class="profile-menu__title">Chăm sóc khách hàng</h3>
                            <ul class="profile-menu__list">
                                <li>
                                    <a href="#!" class="profile-menu__link">
                                                <span class="profile-menu__icon">
                                                    <img src="./assets/icons/info.svg" alt="" class="icon" />
                                                </span>
                                        Trợ giúp
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="profile-menu__link">
                                                <span class="profile-menu__icon">
                                                    <img src="./assets/icons/danger.svg" alt="" class="icon" />
                                                </span>
                                        Terms of Use
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-9 col-xl-8 col-lg-12">
                    <div class="cart-info">
                        <div class="row gy-3">
                            <div class="col-12">
                                <h2 class="cart-info__heading">
                                    <a href="./profile.html">
                                        <img
                                                src="./assets/icons/arrow-left.svg"
                                                alt=""
                                                class="icon cart-info__back-arrow"
                                        />
                                    </a>
                                    Đổi mật khẩu
                                    <div class="cart-info__card-id">
                                        <span class="label">Cart ID: <span th:text="${userDTO.cart.cart_id}"></span></span>
<!--                                        <span class="value" th:text="${userDTO.card_id}></span>-->
                                    </div>
                                </h2>

                                <form th:action="@{/customer/change-password-customer}" method="post">
                                    <div class="form__row">
                                    <!-- Mật khẩu hiện tại -->
                                        <div class="form__group">
                                            <label for="oldPassword" class="form__label form-card__label">
                                                Mật khẩu hiện tại
                                            </label>
                                            <div class="form__text-input">
                                                <input
                                                        type="password"
                                                        name="oldPassword"
                                                        id="oldPassword"
                                                        placeholder="Password"
                                                        class="form__input"
                                                        required
                                                />
                                                <img
                                                        src="./assets/icons/form-error.svg"
                                                        alt=""
                                                        class="form__input-icon-error"
                                                />
                                            </div>
                                            <p class="form__error">Please enter your password</p>
                                        </div>
                                    </div>
                                    <div class="form__row">
                                    <!-- Mật khẩu mới -->
                                        <div class="form__group">
                                            <label for="newPassword" class="form__label form-card__label">
                                                Nhập mật khẩu mới
                                            </label>
                                            <div class="form__text-input">
                                                <input
                                                        type="password"
                                                        name="newPassword"
                                                        id="newPassword"
                                                        placeholder="Password"
                                                        class="form__input"
                                                        required
                                                />
                                            </div>
                                            <p class="form__error">Please enter your password</p>
                                        </div>
                                    </div>
                                    <div class="form__row">
                                    <!-- Xác nhận mật khẩu mới -->
                                        <div class="form__group">
                                            <label for="confirmPassword" class="form__label form-card__label">
                                                Xác nhận mật khẩu
                                            </label>
                                            <div class="form__text-input">
                                                <input
                                                        type="password"
                                                        name="confirmPassword"
                                                        id="confirmPassword"
                                                        placeholder="Password"
                                                        class="form__input"
                                                        required
                                                />
                                            </div>
                                            <p class="form__error">Please enter your password</p>
                                        </div>
                                    </div>

                                    <div class="form-card__bottom">
                                        <button class="btn btn--primary btn--rounded">Đổi mật khẩu</button>
                                    </div>
                                </form>

                                <!-- Hiển thị thông báo -->
                                <div th:if="${result != null}" th:classappend="${result.success} ? 'alert alert-success' : 'alert alert-danger'">
                                    <p th:text="${result.message}"></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>
