<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile | Personal</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/Assets/Customer_Shop/Assets/favicon/apple-touch-icon.png}" />
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/Assets/Customer_Shop/Assets/favicon/favicon-32x32.png}" />
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/Assets/Customer_Shop/Assets/favicon/favicon-16x16.png}" />
    <link rel="manifest" th:href="@{/Assets/Customer_Shop/Assets/favicon/site.webmanifest}" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Fonts -->
    <link rel="stylesheet" th:href="@{/Assets/Customer_Shop/Assets/fonts/stylesheet.css}" />

    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/Assets/Customer_Shop/Assets/css/main.css}" />

    <!-- Scripts -->
    <script th:src="@{/Assets/Customer_Shop/Assets/js/scripts.js}"></script>
    <style>
        .profile-user__avatar-label {
            cursor: pointer;
        }
        .profile-user__avatar:hover {
            opacity: 0.8;
        }
    </style>
</head>
<body>
<!-- Header -->
<header id="header" class="header"></header>
<!--<script>-->
<!--    load("#header", "./templates/header-logined.html");-->
<!--</script>-->

<!-- MAIN -->
<main class="profile">
    <div class="container">
        <!-- Search bar -->
        <div class="profile-container">
            <div class="search-bar d-none d-md-flex">
                <!--                <input type="text" name="" id="" placeholder="Search for item" class="search-bar__input" />-->
                <!--                <button class="search-bar__submit">-->
                <!--                    <img th:src="@{/Assets/Customer_Shop/Assets/icons/search.svg}" alt="" class="search-bar__icon icon" />-->
                <!--                </button>-->
            </div>
        </div>

        <!-- Profile content -->
        <div class="profile-container">
            <div class="row gy-md-3">
                <div class="col-3 col-xl-4 d-lg-none">
                    <aside class="profile__sidebar">
                        <!-- User -->
                        <div class="profile-user">
                            <label for="avatar-upload" class="profile-user__avatar-label">
                                <img th:src="@{/Assets/Customer_Shop/Assets/img/avatar/blank-avatar.png}" alt="Profile Avatar" class="profile-user__avatar" />

                            </label>
                            <input type="file" id="avatar-upload" class="profile-user__avatar-input" accept="image/*" style="display: none;" />
                            <!--                            <div class="text-input">-->
                            <!--                                <input type="file" id="avatar-upload" placeholder="" class="input-setting">-->
                            <!--                                <label class="custom-file-label" for="avatar-upload">Chọn ảnh</label>-->
                            <!--                                <span id="file-name">Chưa có file nào được chọn</span>-->
                            <!--                            </div>-->

                            <h1 class="profile-user__name">Customer</h1>
                            <!-- <p class="profile-user__desc">Registered: 17th May 2022</p>-->
                        </div>
                        <!-- Menu 1 -->
                        <div class="profile-menu">
                            <h3 class="profile-menu__title">Manage Account</h3>
                            <ul class="profile-menu__list">
                                <li>
                                    <a href="#!" class="profile-menu__link">
                                                <span class="profile-menu__icon">
                                                    <img src="./assets/icons/profile.svg" alt="" class="icon" />
                                                </span>
                                        Personal info
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="profile-menu__link">
                                                <span class="profile-menu__icon">
                                                    <img src="./assets/icons/location.svg" alt="" class="icon" />
                                                </span>
                                        Addresses
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="profile-menu__link">
                                                <span class="profile-menu__icon">
                                                    <img src="./assets/icons/message-2.svg" alt="" class="icon" />
                                                </span>
                                        Communications & privacy
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Menu 2 -->
                        <div class="profile-menu">
                            <h3 class="profile-menu__title">My items</h3>
                            <ul class="profile-menu__list">
                                <li>
                                    <a href="#!" class="profile-menu__link">
                                                <span class="profile-menu__icon">
                                                    <img src="./assets/icons/download.svg" alt="" class="icon" />
                                                </span>
                                        Reorder
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="profile-menu__link">
                                                <span class="profile-menu__icon">
                                                    <img src="./assets/icons/heart.svg" alt="" class="icon" />
                                                </span>
                                        Lists
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="profile-menu__link">
                                                <span class="profile-menu__icon">
                                                    <img src="./assets/icons/gift-2.svg" alt="" class="icon" />
                                                </span>
                                        Registries
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Menu 3 -->
                        <div class="profile-menu">
                            <h3 class="profile-menu__title">Subscriptions & plans</h3>
                            <ul class="profile-menu__list">
                                <li>
                                    <a href="#!" class="profile-menu__link">
                                                <span class="profile-menu__icon">
                                                    <img src="./assets/icons/shield.svg" alt="" class="icon" />
                                                </span>
                                        Protection plans
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Menu 4 -->
                        <div class="profile-menu">
                            <h3 class="profile-menu__title">Customer Service</h3>
                            <ul class="profile-menu__list">
                                <li>
                                    <a href="#!" class="profile-menu__link">
                                                <span class="profile-menu__icon">
                                                    <img src="./assets/icons/info.svg" alt="" class="icon" />
                                                </span>
                                        Help
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="profile-menu__link">
                                                <span class="profile-menu__icon">
                                                    <img src="./assets/icons/danger.svg" alt="" class="icon" />
                                                </span>
                                        Terms of Use
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-9 col-xl-8 col-lg-12">
                    <div class="cart-info">
                        <div class="row gy-3">
                            <div class="col-12">
                                <h2 class="cart-info__heading">
                                    <a href="./profile.html">
                                        <img
                                                src="./assets/icons/arrow-left.svg"
                                                alt=""
                                                class="icon cart-info__back-arrow"
                                        />
                                    </a>
                                    Personal info
                                </h2>

                                <form th:action="@{/customer/customer-info}" class="form form-card" th:object="${userDTO}" method="post">
                                    <!-- Form row 1 -->
                                    <div class="form__row">
                                        <div class="form__group">
                                            <label for="full-name" class="form__label form-card__label">
                                                Full name
                                            </label>
                                            <div class="form__text-input">
                                                <input
                                                        type="text"
                                                        id="full-name"
                                                        th:field="*{name}"
                                                        placeholder="Full name"
                                                        class="form__input"

                                                />
                                                <!--                                                <input type="text" class="form__input" th:field="*{name}">-->

                                                <img
                                                        th:src="@{/Assets/Customer_Shop/Assets/icons/form-error.svg}"
                                                        alt=""
                                                        class="form__input-icon-error"
                                                />
                                            </div>
                                            <p class="form__error">Please enter your full name</p>
                                        </div>
                                        <div class="form__group">
                                            <label for="email-adress" class="form__label form-card__label">
                                                Email address
                                            </label>
                                            <div class="form__text-input">
                                                <input
                                                        type="text"
                                                        id="email-adress"
                                                        placeholder="Email address"
                                                        class="form__input"
                                                        th:field="*{email}"
                                                        readonly
                                                />
                                                <!--                                                <input type="text" class="input-setting" readonly th:field="*{email}">-->
                                                <img
                                                        th:src="@{/Assets/Customer_Shop/Assets/icons/form-error.svg}"
                                                        alt=""
                                                        class="form__input-icon-error"
                                                />
                                            </div>
                                            <p class="form__error">Please enter a valid email address</p>
                                        </div>
                                    </div>

                                    <!-- Form row 2 -->
                                    <div class="form__row">
                                        <div class="form__group">
                                            <label for="phone-number" class="form__label form-card__label">
                                                Phone Number
                                            </label>
                                            <div class="form__text-input">
                                                <input
                                                        type="text"
                                                        id="phone-number"
                                                        th:field="*{phone}"
                                                        placeholder="Phone Number"
                                                        class="form__input"
                                                        readonly
                                                />
                                                <img
                                                        th:src="@{/Assets/Customer_Shop/Assets/icons/form-error.svg}"
                                                        alt=""
                                                        class="form__input-icon-error"
                                                />
                                            </div>
                                            <p class="form__error">Please enter a valid phone number</p>
                                        </div>
                                        <div class="form__group">
                                            <label for="birthday" class="form__label form-card__label">
                                                Birthday
                                            </label>
                                            <div class="form__text-input">
                                                <input
                                                        type="text"
                                                        id="birthday"
                                                        th:field="*{birth}"
                                                        placeholder="Birthday"
                                                        class="form__input"
                                                        readonly
                                                />
                                                <img
                                                        th:src="@{/Assets/Customer_Shop/Assets/icons/form-error.svg}"
                                                        alt=""
                                                        class="form__input-icon-error"
                                                />
                                            </div>
                                            <p class="form__error">Please enter your birthday</p>
                                        </div>
                                    </div>

                                    <!-- Form row 3 -->
                                    <div class="form__row">
                                        <div class="form__group">
                                            <label for="address" class="form__label form-card__label">
                                                Address
                                            </label>
                                            <div class="form__text-input">
                                                <input
                                                        type="text"
                                                        id="address"
                                                        th:field="*{address}"
                                                        placeholder="Address"
                                                        class="form__input"
                                                />
                                                <img
                                                        th:src="@{/Assets/Customer_Shop/Assets/icons/form-error.svg}"
                                                        alt=""
                                                        class="form__input-icon-error"
                                                />
                                            </div>
                                            <p class="form__error">Please enter a valid address</p>
                                        </div>
                                        <div class="form__group">
                                            <label for="gender" class="form__label form-card__label">
                                                Gender
                                            </label>
                                            <div class="form__text-input">
                                                <select id="gender" class="form__input" required>
                                                    <option th:text="*{gender}" disabled selected></option>
                                                    <option value="male">Nam</option>
                                                    <option value="female">Nữ</option>
                                                </select>
                                                <img
                                                        th:src="@{/Assets/Customer_Shop/Assets/icons/form-error.svg}"
                                                        alt=""
                                                        class="form__input-icon-error"
                                                />
                                            </div>
                                            <p class="form__error">Please select a valid gender</p>
                                        </div>
                                    </div>

                                    <!-- Form row 4 -->
                                    <div class="form__row">
<!--                                        -->
                                    </div>

                                    <div class="form-card__bottom">
                                        <a class="btn btn--text" th:href="@{/Assets/Customer_Shop/Assets/sign-in.html}">Cancel</a>
                                        <button class="btn btn--primary btn--rounded">Tiếp tục</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<footer id="footer" class="footer"></footer>
<!--<script>-->
<!--    load("#footer", "./templates/footer.html");-->
<!--</script>-->

<!-- Modal: confirm remove shopping cart item -->
<!--<div id="delete-confirm" class="modal modal&#45;&#45;small hide">-->
<!--    <div class="modal__content">-->
<!--        <p class="modal__text">Do you want to remove this item from shopping cart?</p>-->
<!--        <div class="modal__bottom">-->
<!--            <button class="btn btn&#45;&#45;small btn&#45;&#45;outline modal__btn js-toggle" toggle-target="#delete-confirm">-->
<!--                Cancel-->
<!--            </button>-->
<!--            <button-->
<!--                    class="btn btn&#45;&#45;small btn&#45;&#45;danger btn&#45;&#45;primary modal__btn btn&#45;&#45;no-margin js-toggle"-->
<!--                    toggle-target="#delete-confirm"-->
<!--            >-->
<!--                Delete-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="modal__overlay js-toggle" toggle-target="#delete-confirm"></div>-->
<!--</div>-->
</body>
</html>
