<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile | Personal</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/Assets/Customer_Shop/Assets/favicon/apple-touch-icon.png}" />
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/Assets/Customer_Shop/Assets/favicon/favicon-32x32.png}" />
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/Assets/Customer_Shop/Assets/favicon/favicon-16x16.png}" />
    <link rel="manifest" th:href="@{/Assets/Customer_Shop/Assets/favicon/site.webmanifest}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Fonts -->
    <link rel="stylesheet" th:href="@{/Assets/Customer_Shop/Assets/fonts/stylesheet.css}" />

    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/Assets/Customer_Shop/Assets/css/main.css}" />
    <link rel="stylesheet" th:href="@{/Assets/Toast_Message/toastmesscss.css}">

    <!-- Scripts -->
    <script th:src="@{/Assets/Customer_Shop/Assets/js/scripts.js}"></script>
    <link rel="stylesheet" th:href="@{/Assets/Customer_Shop/Assets/css/styles.css}" />
    <script th:src="@{/Assets/Toast_Message/toastmessjs.js}"></script>

</head>
<body>
<div id="toast"></div>
<!-- MAIN -->
<main class="profile">
    <div class="container">
        <!-- Search bar -->
        <div class="profile-container">
            <div class="search-bar d-none d-md-flex">
            </div>
        </div>

        <!-- Profile content -->
        <div class="profile-container">
            <div class="row gy-md-3">
                <div class="col-3 col-xl-4 d-lg-none">
                    <aside class="profile__sidebar">
                        <!-- User -->
                        <div class="profile-user">
                            <label for="avatar-upload" class="profile-user__avatar-label">
                                <img th:src="${userDTO.imagePath}" alt="Profile Avatar" class="profile-user__avatar" />

                            </label>
                            <input type="file" id="avatar-upload" class="profile-user__avatar-input" accept="image/*" style="display: none;" />
                            <h1 class="profile-user__name" th:text="${userDTO.name}"></h1>
                        </div>
                        <!-- Menu 1 -->
                        <div class="profile-menu">
                            <h3 class="profile-menu__title">Quản lý tài khoản</h3>
                            <ul class="profile-menu__list">
                                <li>
                                    <a th:href="@{/customer}" class="profile-menu__link">
                                        <span class="profile-menu__icon">
                                            <img th:src="@{/Assets/Customer_Shop/Assets/icons/profile.svg}" alt="" class="icon" />
                                        </span>
                                        Thông tin cá nhân
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/customer/change-password-form}" class="profile-menu__link" methods="post">
                                                <span class="profile-menu__icon">
                                                    <img th:src="@{/Assets/Customer_Shop/Assets/icons/message-2.svg}" alt="" class="icon" />
                                                </span>
                                        Đổi mật khẩu
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Menu 2 -->
                        <div class="profile-menu">
                            <h3 class="profile-menu__title">My items</h3>
                            <ul class="profile-menu__list">
                                <li>
                                    <a th:href="@{/customer/test}" class="profile-menu__link">
                                                <span class="profile-menu__icon">
                                                    <img th:src="@{/Assets/Customer_Shop/Assets/icons/buy.svg}" alt="" class="icon" />
                                                </span>
                                        Giỏ hàng của bạn
                                    </a>
                                </li>
                                <li>
                                    <!--                                    <a th:href="@{/customer/order-history(userInfoId=${userInfo_id})}" class="profile-menu__link">-->
                                    <a th:href="@{/customer/order-history}" class="profile-menu__link">

                                               <span class="profile-menu__icon">
                                                    <img th:src="@{/Assets/Customer_Shop/Assets/icons/document.svg}" alt="" class="icon" />
                                                </span>
                                        Lịch sử mua hàng
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-9 col-xl-8 col-lg-12">
                    <div class="cart-info">
                        <div class="row gy-3">
                            <div class="col-12">
                                <h2 class="cart-info__heading">Đổi mật khẩu</h2>
                                <form th:action="@{/customer/change-password-customer}" method="post">
                                    <div class="form__row">
                                    <!-- Mật khẩu hiện tại -->
                                        <div class="form__group">
                                            <label for="oldPassword" class="form__label form-card__label">
                                                Mật khẩu hiện tại
                                            </label>
                                            <div class="form__text-input">
                                                <input
                                                        type="password"
                                                        name="oldPassword"
                                                        id="oldPassword"
                                                        placeholder="Password"
                                                        class="form__input"
                                                        required
                                                />
                                                <img
                                                        src="./assets/icons/form-error.svg"
                                                        alt=""
                                                        class="form__input-icon-error"
                                                />
                                            </div>
                                            <p class="form__error">Please enter your password</p>
                                        </div>
                                    </div>
                                    <div class="form__row">
                                    <!-- Mật khẩu mới -->
                                        <div class="form__group">
                                            <label for="newPassword" class="form__label form-card__label">
                                                Nhập mật khẩu mới
                                            </label>
                                            <div class="form__text-input">
                                                <input
                                                        type="password"
                                                        name="newPassword"
                                                        id="newPassword"
                                                        placeholder="Password"
                                                        class="form__input"
                                                        required
                                                />
                                            </div>
                                            <p class="form__error">Please enter your password</p>
                                        </div>
                                    </div>
                                    <div class="form__row">
                                    <!-- Xác nhận mật khẩu mới -->
                                        <div class="form__group">
                                            <label for="confirmPassword" class="form__label form-card__label">
                                                Xác nhận mật khẩu
                                            </label>
                                            <div class="form__text-input">
                                                <input
                                                        type="password"
                                                        name="confirmPassword"
                                                        id="confirmPassword"
                                                        placeholder="Password"
                                                        class="form__input"
                                                        required
                                                />
                                            </div>
                                            <p class="form__error">Please enter your password</p>
                                        </div>
                                    </div>

                                    <div class="form-card__bottom">
                                        <button class="btn btn--primary btn--rounded">Đổi mật khẩu</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    const rs = /*[[${rs}]]*/ 'default';
    /*]]>*/
    if (rs.message)
    {
        console.log(rs.message);
        if (rs.success)
        {
            showSuccessToast(rs.message);
        }
        else
        {
            showErrorToast(rs.message);
        }
    }
</script>
</html>
