<nav th:fragment="sidebar" class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/dashboard}">
                <i class="menu-icon mdi mdi-chart-line"></i>
                <span class="menu-title">Thống kê</span>
            </a>
        </li>
        <li class="nav-item nav-category">Quản lý</li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/home}">
                <i class="menu-icon mdi mdi-clipboard-text"></i>
                <span class="menu-title">Quản lý đơn hàng</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/product}">
                <i class="menu-icon mdi mdi-tshirt-crew"></i>
                <span class="menu-title">Quản lý sản phẩm</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" >
                <i class="menu-icon mdi mdi-tshirt-crew"></i>
                <span class="menu-title">Quản lý nhập hàng</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" >
                <i class="menu-icon mdi mdi-ticket-confirmation"></i>
                <span class="menu-title">Quản lý voucher</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <i class="menu-icon mdi mdi-account-multiple-outline"></i>
                <span class="menu-title">Quản lí tài khoản nhân viên</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/manage-customer}">
                <i class="menu-icon mdi mdi-account-multiple-outline"></i>
                <span class="menu-title">Quản lý tài khoản khách hàng</span>
            </a>
        </li>
        <li class="nav-item nav-category">Cá nhân</li>
        <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/admin-info}">
                <i class="menu-icon mdi mdi-account-circle-outline"></i>
                <span class="menu-title">Thông tin cá nhân</span>
            </a>
        </li>
        <li class="nav-item nav-category">help</li>
        <li class="nav-item">
            <a class="nav-link" href="http://bootstrapdash.com/demo/star-admin2-free/docs/documentation.html">
                <i class="menu-icon mdi mdi-file-document"></i>
                <span class="menu-title">Documentation</span>
            </a>
        </li>
    </ul>
</nav>

